@charset 'utf-8';

.container{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}
	.btnlogout{
		position: fixed;
		right: 0;
		top: 10px;
		display: block;
		width: 50px;
		font-family: Arial;
		font-size: 16px;
		padding: 5px;
		background-color: #333;
		color: #fff;
		text-decoration: none;
		border-radius: 3px;
	}
	.btnlogout:hover{
		background-color: #444;
	}

	.login_fail{
		display: block;
		width: 200px;
		padding: 10px;
		font-family: Arial;
		font-weight: bold;
		font-size: 17px;
		color: #fff;
		background-color: #f12828;
		border-radius: 3px;
		margin: 10px auto;
	}
	.c_form_login{
		text-align: center;
		max-width: 625px;
		padding-top: 15%;
		font-size: 17px;
		margin: 0 auto;
	}
		.titulo_login{
			font-family: Arial;
			font-weight: bold;
			font-size: 30px;
			color: #272726;
			margin: 20px 0; 
		}
		.form_login_input, .form_login_button{
			display: inline-block;
			vertical-align: middle;
		}
		.form_login_input{
			padding: 15px;
			border: 1px solid #000;
			border-radius: 3px;
		}
		.form_login_button{
			cursor: pointer;
			padding: 13px;
			font-size: 17px;
			color: #fff;
			border:0px;
			border-radius: 3px;
			background-color: #000;

			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			transition:all 0.3s;
		}
		.form_login_button:hover{
			background-color: #333;
		}


/*HOME*/
.c_funcionarios{
	padding: 60px 0;
}
	.titulo_page, .form_busca{
		display: inline-block;
		vertical-align: middle;
	}
	.titulo_page{
		font-family: Arial;
		font-size: 30px;
		font-weight: bold;
		color: #333;
	}
	.form_busca{
	  position: absolute;
	  right: 10px;
	  top: 60px;
	}
		.form_busca_input{
			padding:10px 5px;
			/*width: 137%;*/
		}

	.btnadd_func{
		display: block;
		font-family: Arial;
		font-size: 15px;
		text-decoration: none;
		color: #fff;
		width: 130px;
		border-radius: 3px;
		margin: 10px 0;
		padding: 10px;
		background-color: #6cc911;
		border-bottom: 4px solid #5ca614;
	}
	.btnadd_func:hover{
		position: relative;
		top: 2px;
		background-color: #7bea0f;
		border-bottom: 2px solid #5ca614;
	}

	.conteudo_funcionarios{
		padding: 50px 0	;
	}
		.titulos_ordem{
			margin: 30px 0;
		}
			.titulo_funcionario{
				display: inline-block;
				vertical-align: middle;
				width: 155px;
				margin: 0 10px;
			}
			.titulo_funcionario:first-of-type{
				width: 100px;
			}
			.titulo_funcionario:nth-child(2){
				width: 60px;
			}
			.titulo_funcionario:nth-child(4){
				width: 190px;
			}

			.titulo_funcionario > p{
				font-family: Arial;
				font-weight: bold;
				font-size: 25px;
				text-align: center;
				color: #555;
			}

		.lista_funcionarios{
			position: relative;	
			padding: 0 10px;
			border: 1px solid #e1e1e1;
		}
		.lista_funcionarios:nth-child(even){
		    background-color: #e9e9e9;
		}
			.btnoptions{
				display: none;
				position: absolute;
				right: 10px;
				top: 10px;
			}
				.btnoptions a{
					text-decoration: none;
					font-family: Arial;
					font-size: 12px;
					color: #fff;
					padding: 5px;
					border-radius: 3px;
					background-color: #333;
				}
				.btnoptions a:hover{
					background-color: #555;
				}
			.lista_funcionarios:hover .btnoptions{
				display: block;
			}
			[class|="info_func"]{
				display: inline-block;
				vertical-align: middle;
				margin:15px 0px;
				border-right: 1px solid #ccc;
			}
				[class|="info_func"] > p{
					font-family: Arial;
					font-size: 16px;
					text-align: center;
					color: #666;
					width: 170px;
					word-wrap: break-word;
				}
			[class$="foto_funcionario"]{
				width: 100px;
				height: 100px;
				border:1px solid #ccc;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center top;
			}
			[class$="id_funcionario"] p{
				width: 99px;
			}
			[class$="email_funcionario"] p{
				width: 210px;
			}


/*CADASTRO*/
.form_add_funcionarios label{
	display: block;
	font-family: Arial;
	font-size: 14px;
	color: #333;
	margin-top: 25px;
}
.label_foto{
	cursor: pointer;
	background-color: #ff2c1b;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	border-radius: 3px;
	width: 50px;
	text-align: center;
	color: #fff !important;
	border-bottom: 2px solid #b81306;
}
.label_foto:hover{
	background-color: #ff5050;
}
#nome_foto{
	font-family: Arial;
	font-size: 13px;
	color: #333;
}
.form_add_input{
	display: inline-block;
	width: 100%;
	padding: 20px;
	margin: 10px 0;
	border:1px solid #333;
}
.form_add_input:first-of-type{
	margin-left: 0px;
}
.form_add_file, .form_add_button{
	display: inline-block;
	vertical-align: middle;
}

.form_add_button{
	cursor: pointer;
	border: 0px;
	padding: 10px;
	background-color: #6cc911;
	color: #fff;
	border-radius: 3px;
	font-size: 20px;
	border-bottom: 4px solid #5ca614;
}
.form_add_button:hover{
	position: relative;
	top: 2px;
	background-color: #7bea0f;
	border-bottom: 2px solid #5ca614;
}

/*BUSCA*/
.c_msg_void{
	padding: 20px;
	background-color: #00bab4;
	border-radius: 5px;	
}
.msg_void{
	text-align: center;	
	font-family: Arial;
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}